@using Blazr.Sitebuilder.Builder.Code
@inherits ArticleBase
@implements IPageData
<LayoutView Layout="@typeof(ArticleLayout)">
    <PageTitle>Home</PageTitle>
    <div>The main content goes here</div>

</LayoutView>

<SectionContent SectionName="side-bar">

    @this.TOC

</SectionContent>

<SectionContent SectionName="main-content">

    @this.ArticleContent;

</SectionContent>

@code {

    public override PageData PageData { get; protected set; } = new()
        {
            Title = "This is an Article",
            PublishDate = new DateOnly(2022, 10, 14),
            LastUpdated = new(2023, 1, 1),
            Author = "Shaun Curtis",
            Description = "",
            MdFile = $@".\Source\article.md"

        };
}

