@inherits RazorBase
@namespace Blazr.SiteBuilder

@code {

    public static RenderFragment<ContentRenderer> StoryListHtml => (provider) => (__builder) =>
        {
            <div class="list-group">

                @{
                    var _stories = provider.StoryProvider.Stories;
                    foreach (var route in _stories)
                    {
                        <a href="@($"/stories/{route.StoryUrl}/")" class="list-group-item list-group-item-action">@route.Story</a>
                    }
                }
            </div>
        };

    public static RenderFragment<ContentRenderer> StoryArticlesListHtml => (provider) => (__builder) =>
        {
            <div class="list-group">

                @foreach (var route in provider.StoryProvider.GetStoryArticles(provider.CurrentRoute.PageData.Story))
                {
                    <a href="@($"{route.Route}.html")" class="list-group-item list-group-item-action">@route.PageData.Title</a>
                }
            </div>
        };
}
