@inherits LayoutComponentBase

<header class="navbar bg-dark p-2 text-large text-light">
	<section class="navbar-section  text-light">
		<a href="..." class="navbar-brand mr-2 text-large text-light p-2">Cold Elm Coders</a>
		<a href="..." class="btn btn-link text-light">Docs</a>
		<a href="..." class="btn btn-link text-light">GitHub</a>
	</section>
</header>

<div class="container">
	<div class="columns">
		<!-- LEFT COLUMN -->
		<div class="column col-2 col-sm-12 float-right bg-secondary titlecol">
			 <SectionOutlet SectionName="side-bar" />
		</div>
		<!-- RIGHT COLUMN-CLIENT AREA -->
		<div class="column col-8 col-sm-12 float-left" style="padding-left: 2em;">
			<SectionOutlet SectionName="main-content" />
		</div>
	</div>
</div>
